#xcode specific
build/*
*.pbxuser
*.mode2v3
*.mode1v3
*.perspective
*.perspectivev3
*~.nib
#ignore private workspace stuff added by Xcode4
Femsa.xcodeproj/xcuserdata/*
Femsa.xcodeproj/project.xcworkspace/xcuserdata/*
*.xcuserstate
cocos2d/
## generic files to ignore
*~
*.lock
*.DS_Store
*.swp
*.out
*.apk
*.txt
*.ttf
*.ccz